<!-- include header -->
<%- include('include/_header')%>
<!-- /include header -->

<main id="site-main">
    <div class="container">

        <div class="">
            <a href="/" class="btn btn-primary">
                All User<i class="bi bi-chevron-double-left"></i>
            </a>
        </div>

        
            <div class="card mt-3" style="width:70%">
                <div class="card-body">
                   
                   <%- include('include/_form')%>
                </div>
                
            </div>
           
        

    </div>
</main>

<!-- include footer -->
<%- include('include/_footer')%>
<!-- /include footer -->